<div class="jumbotron"  ng-controller="MainCtrl">
    <h1>{{'authenticate.hello' | i18next}}, <span ng-model="userName"></span>!</h1>
    <p class="lead">{{'messages.info' | i18next}}</p>
    <p>
        <div>
            <fieldset class="btn-group cmd-buttons">
              <button href="#" class="btn btn-success cmd-button" role="button" data-cmd="open"><i class="fa fa-arrow-up"></i> {{'commands.open' | i18next}}</button>
              <button href="#" class="btn btn-warning cmd-button" role="button" data-cmd="close">{{'commands.close' | i18next}} <i class="fa fa-arrow-down"></i></button>
            </fieldset>
        </div>
        
    </p>
    <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/O-RPSf7oP98?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div id="thelog"></div>

