<div class="jumbotron">
    <h1 ng-if="!logged">{{'authenticate.hello' | i18next}}!</h1>
    <h1 ng-if="logged">{{'authenticate.hello' | i18next}}, {{userName}}!</h1>
    <div class="lead">{{'messages.info' | i18next}}</div>
    <div class="lead">
        <div ng-if="!logged">
            <div class="lead">{{'messages.pleaselogin' | i18next}}</div>
            <div><login-button class="btn btn-lg btn-success loginbutton" /></div>
        </div>
        <commands ng-if="logged" />
    </div>
    <div ng-if="!logged" class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/SyHpKROwxLU?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div ng-if="logged">
        <div class="lead">{{'messages.stats' | i18next}}</div>
        <d3-bars data="d3Data" label="label" line-height="lineHeight"></d3-bars>
    </div>
</div>

<div ng-if="logged" ng-controller="ThelogCtrl">
    <table class="table table-striped" id="thelog">
        <thead>
            <tr>
                <th>User</th>
                <th>Command</th>
                <th>Time <i class="fa fa-spinner fa-spin" style="float: right;" title="Watching changes..."></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="command in commands">
                <td>{{command.user}}</td>
                <td>{{command.currentState}}</td>
                <td>{{command.time}}</td>
            </tr>
        </tbody>
    </table>
</div>

