<div class="jumbotron">
    <h1 ng-if="!logged">{{'authenticate.hello' | i18next}}!</h1>
    <h1 ng-if="logged">{{'authenticate.hello' | i18next}},{{userName}}!</h1>
    <p class="lead">{{'messages.info' | i18next}}</p>
    <p>
        <div ng-if="!logged">
            <p class="lead">{{'messages.pleaselogin' | i18next}}</p>
            <p><login-button class="btn btn-lg btn-success loginbutton" /></p>
        </div>
        <commands ng-if="logged"/>
    </p>
    <div ng-if="!logged" class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/SyHpKROwxLU?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div ng-if="logged" class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
        <iframe width="560" height="315" src="//www.youtube.com/embed/O-RPSf7oP98?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div ng-if="logged" ng-controller="ThelogCtrl">
    <table class="table table-striped" id="thelog">
        <thead>
            <tr>
                <th>User</th>
                <th>Command</th>
                <th>Time <i class="fa fa-spinner fa-spin" style="float: right;" title="Watching changes..."></i></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="command in commands">
                <td>{{command.user}}</td>
                <td>{{command.currentState}}</td>
                <td>{{command.time}}</td>
            </tr>
        </tbody>
    </table>
</div>

